doctype html
html
    head
        title Biblioteca Publica - Historial de Rentas
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 20px;
            }
            h2 {
                color: #333;
            }
            p {
                color: #666;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            li {
                margin: 5px 0;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
            .pending {
                background-color: #fff3cd;
                border-color: #ffeeba;
            }
            .finished {
                background-color: #d4edda;
                border-color: #c3e6cb;
            }
            p {
                color: #000;
                font-size: 2em;
                font-weight: bold;
            }
            .comments {
                margin-top: 10px; /* Margin to separate from publication details */
                padding-left: 20px; /* Indentation for comments */
            }
            .comment {
                margin-top: 5px; /* Margin between comments */
                color: #666; /* Different color for comments */
            }
    body
        if feed && feed.length
            h2 Feed
            ul
                each fe in feed
                    li
                        span.title #{fe.title}
                        span.description #{fe.description}
                        span.user #{fe.user.userName}
                        if fe.comments && fe.comments.length
                            div.comments
                                each comment in fe.comments
                                    div.comment #{comment}
        else
            p No registros para ese usuario actual